

body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    margin-left:0%;
}

.header-big {
    background-color: #1F2937;
    border:solid 1px blue;
}

.header-small {
    
    display:flex;
    justify-content: space-between;
    padding:0;
    margin:10;
    margin-top:2%;
   /*  border: solid 1px red; */
    
 
}

.header-small >  ul {
    display:flex;
    list-style: none;
    
    justify-content: center;
    /* border: solid 1px red; */
    margin-right:10%;
    gap:100px;
    align-items: center;
    font-size: 18px;
    color: #e5e7eb;
}

.header-small > #logo {
    width:150px;
    height:150px;
    margin-left:10%;
    /* border: solid 1px red; */
    
}

.content {
    display:flex;
    border: solid 1px red;
    justify-content: space-between;
    margin-left:10%;
    margin-right:10%;
    margin-top:3%;
    margin-bottom:10px;
    padding:0;
    align-items: center;
}


.content >.right-content > #placeholder {
    width:400px;
    height:320px;
    
}



.info {
    margin-left:10%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid red;
}

.info > .img-group {
    border: 1px solid red;
    display: flex;
    
    
    
    gap:100px;
}

.img-group1 {
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size:24px;
    max-width:300px;
    margin-top:15px;
}

.image-info {
    width:150px;
    height:150px;

}


footer {
    border: 1px solid red;
    
}

a {
     color: inherit; 
     text-decoration: none;
} 


.header-link-text {
    font-size: 24px;
}

.left-content > #cultivate {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.left-content > p {
    font-size:22px;
    color: #e5e7eb;
}